@import url(https://fonts.googleapis.com/css?family=Rouge+Script|Droid+Serif);

$darkgrey: #1a1a1a;
$midgrey: #4d4d4d;
$lightgrey: #666666;

body {
    font-family: 'Droid Serif', serif;
    overflow: auto;
}

h1 {
    font-family: 'Rouge Script', cursive;
    font-weight: 200;
}

a {
    text-decoration: none;
}

.title {
    text-align: center;
    font-size: 60px;
    color: $midgrey;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.navbar-fixed {
    z-index: 999;
    position: fixed;
    width: 100%;
    background-color: $darkgrey;
    box-shadow: 0 2px 5px rgba(0,0,0,0.75);
    height: 60px;
    .navbar-nav {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        text-align: center;
        li {
            display: inline-block;
            padding: 20px 20px 20px;
            a {
                color: white;
                display: inline-block;
                font-size: 20px;
                // font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}

.hero {
    top: 60px;
    z-index: -1;
    overflow: hidden;
    background-image: url('../assets/img/Edited_202-0013.jpg');
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100vh;

    .hero-text {
        color: white;
        position: absolute;
        top: 50%;
        left: 25%;
        width: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        h1 {
            letter-spacing: -5px;
            text-shadow: 0 2px 5px rgba(0,0,0,0.75);
            font-weight: 100;
            font-size: 160px;
            padding: 0;
            margin: -0;
            span {
                font-size: 80px;
            }
        }
        p {
            text-shadow: 0 2px 5px rgba(0,0,0,0.75);
        }
        .knot {
            margin: 0;
            padding: 0;
            // font-weight: bold;
            font-size: 44px;
        }
        .date {
            padding: 0;
            margin: 0;
            font-size: 30px;
        }
    }
}

.our-story {
    overflow: auto;
    height: 100%;
    .body {
        color: $lightgrey;
    }
}

.gallery {
    height: 100%;
    .gallery-image {
        height: 100%;
        overflow: auto;
        .image-link {
            float: left;
            width: 31.3%;
            height: 330px;
            margin-bottom: 3%;
            box-shadow: 0 2px 5px rgba(0,0,0,0.75);
            &:nth-child(3n-2) {
                margin-right: 3%;
            }
            &:nth-child(3n) {
                margin-left: 3%;
            }
            .image-img1 {
                height: 100%;
                width: 100%;
                background-image: url('../assets/img/Edited_202-0003.jpg');
                background-size: cover;
                background-position: center;
            }
            .image-img2 {
                height: 100%;
                width: 100%;
                background-image: url('../assets/img/Edited_202-0020.jpg');
                background-size: cover;
                background-position: center;
            }
            .image-img3 {
                height: 100%;
                width: 100%;
                background-image: url('../assets/img/Edited_202-0022.jpg');
                background-size: cover;
                background-position: center;
            }
            .image-img4 {
                height: 100%;
                width: 100%;
                background-image: url('../assets/img/Edited_202-0039.jpg');
                background-size: cover;
                background-position: center;
            }
            .image-img5 {
                height: 100%;
                width: 100%;
                background-image: url('../assets/img/Edited_202-0043.jpg');
                background-size: cover;
                background-position: center;
            }
            .image-img6 {
                height: 100%;
                width: 100%;
                background-image: url('../assets/img/Edited_202-0049.jpg');
                background-size: cover;
                background-position: center;
            }
            .image-img7 {
                height: 100%;
                width: 100%;
                background-image: url('../assets/img/Edited_202-0054.jpg');
                background-size: cover;
                background-position: center;
            }
            .image-img8 {
                height: 100%;
                width: 100%;
                background-image: url('../assets/img/Edited_202-0056.jpg');
                background-size: cover;
                background-position: center;
            }
            .image-img9 {
                height: 100%;
                width: 100%;
                background-image: url('../assets/img/image1.jpg');
                background-size: cover;
                background-position: center;
            }
        }
    }
}

.wedding {
    .title {
        margin: 50px 0 0 0;
    }
    height: 100%;
    overflow: auto;
    h2 {
        text-align: center;
        margin-top: 10px;
        color: $midgrey;
    }
    h3 {
        color: $midgrey;
    }
    p {
        color: $lightgrey;
    }
    .wedding-ceremony {
        height: 100%;
        overflow: auto;
        .wedding-location {
            float: left;
            width: 47%;
            text-align: center;
            img {
                width: 100%;
            }
            p {
                color: $lightgrey;
            }
        }
        .wedding-map {
            margin-left: 6%;
            width: 47%;
            height: 400px;
            float: left;
        }
    }
    .wedding-hotels {
        margin-top: 30px;
        h2 {
            margin: 0;
        }
        .hotel {
            // float: left;
            width: 47%;
            margin: 0 auto;
            text-align: center;
            img {
                width: 100%;
                box-shadow: 0 2px 5px rgba(0,0,0,0.75);
            }
            &:nth-child(3) {
                margin-left: 6%;
            }
        }
    }
}

.registry {
    overflow: auto;
    clear: both;
    padding: 25px;
    width: 30%;
    margin: 0 auto;
    .registry-button {
        border: 1px solid;
        margin-bottom: 10px;
        height: 76px;
        color: $midgrey;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0,0,0,0.75);
        img {
            height: 64px;
            padding: 6px 0;
        }
        // width: 50%;
    }
}

footer {
    margin-top: 50px;
    height: 200px;
    background-color: $darkgrey;
}

#welcome,
#gallery,
#wedding,
#accommodations,
#registry {
    padding-top: 60px;
    margin-top: -60px;
}